eval/*
reasoning_traces/*
data/*
outputs/*
**/__pycache__/**
reasoning_traces_tax/*
*.tar
grpo_trainer_lora_model/*
*.out
*.slurm
*.zip
wandb/*
tax_problems_dataset/*
uv.lock
inference.sh
.python-version
.env
scratch.py
